/* Drucker brauchen ganz andere CSS angaben als Bildschirme. Aus diesem Grund
   haben wir für diese auch eine eigene CSS Datei. */
   
body {
 background: white;
 color: black;
 font-family: georgia, serif;
}
#logo {
 text-align: right;
 line-height: 0.8em;
 font-size: 3em;
 font-family: verdana, arial, sans-serif;
 letter-spacing: -3px;
}
#logo a {
 text-decoration: none;
}
.skip, #subnav, #menu, #main a.right{
 display: none;
}
#main a:link:after, #main a:visited:after { /* Auf dem gedruckten Blatt papier kann man keinen Link klicken. Deshalb drucken wir die gesammte URL dieses Links dahinter an. Dies funktioniert allerdings nicht im IE. Wer mehr zu diesem Thema wissen will sei auf http://www.alistapart.com/articles/goingtoprint/ verwiesen */
   content: " (" attr(href) ") ";
   font-size: 0.9em; }
#main a[href^="/"]:after { /* Der Mozilla/Firefox zeigen, im gegen satz zum Opera, die Domain nicht von selbst an. Hier müssen wir mittels CSS3, welches er schon zum Teil versteht, nachhelfen. */
 content: " (http://www.example.tld" attr(href) ") ";
}
.fright {
 float: right;
 margin: 0 0 1em 1em;
}
.fleft {
 float: left;
 margin: 0 1em 1em 0;
}